.verticalArea {
  background-color: yellow;
  display: flex;
  float: left;
  height: 100vh; /* 100% of viewport height */
  justify-content: center; /* centers content */
  width: 20%;
  background-size: cover;
}
