#highTempCard {
  background: white;
  border: none;
  color: #216e93;
  height: 3rem;
  margin-top: 50px;
  text-align: center;
  width: 5.5rem;
}

#highTempResultFont {
  color: rgb(218, 217, 217);
}
