#currentTempCard {
  background: white;
  border-radius: 10px;
  color: #216e93;
  height: 3rem;
  text-align: center;
  margin-top: 60px;
  width: 11.5rem;
}
#tempResultFont {
  color: rgb(218, 217, 217);
}
