#rightArea {
  background-color: #216e93;
  /* background-color: red; */
  height: 100vh;
  width: 86%;
  float: right; /*making RightSide component be 80% of right side since LeftSide is 20%*/
}
