#cityInput {
  border-radius: 10px;

  outline: none;
  margin-top: 35px;
  text-align: center;
}
#countryInput {
  border-radius: 10px;

  outline: none;
  margin-top: 20px;
  text-align: center;
}
#getWeatherButton {
  background: white;
  color: #216e93;
  display: block;
  border-radius: 10px;
  outline: none;
  margin: 20px auto;
  text-align: center;
}
